* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: hsl(180, 59%, 44%);
  color: #030303;
}

header {
  background-color: #1a9049;
  color: white;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #f4f4f4;
  background-color: #555;
  padding: 5px 10px;
  border-radius: 5px;
}

section {
  padding: 40px 20px;
  text-align: center;
}

h1,
h2 {
  margin-bottom: 20px;
  color: #333;
}

footer {
  background-color: #333;
  color: rgb(246, 241, 241);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

#experience img {
  height: 50px;
  width: 50px;
}
